// 🎨 Couleurs principales
$color-primary: #FF0101; // Rouge principal
$color-secondary:#020203; // Noir/Gris foncé
$color-background: #FBFBFB; // Fond clair
$color-text: #74798C; // Texte gris
$color-grid: #E0E0E0; // Grille et séparateurs

// 📊 Couleurs des graphiques
$color-bar-primary: #282D30; // Barres poids
$color-bar-secondary: #FF0101; // Barres calories
$color-line-min: #C0C0C0; // Ligne minimum
$color-line-mid: #9B9B9B; // Ligne moyenne
$color-line-max: #000000; // Ligne maximum



// 🛠️ Autres couleurs
$color-tooltip-bg: #FF0101; // Fond des tooltips
$color-tooltip-text: #FFFFFF; // Texte des tooltips

