@import "./color";

.HelloBanner{
    display: flex;
    flex-direction: column;
    background-color: #FFFF;

    h1{
        font-size: 48px;
        font-weight: 500;
        color: black;
        
        span{
            color: $color-primary!important;
        }
    }

    p{
        font-size: 18px;
        font-weight: 400;
        color: black;
    }        
    
    

    

}